.Container {
    -fx-background-color: lightblue;
    -fx-alignment: CENTER;
    -fx-spacing: 15;
    -fx-padding: 10;
}

.Subject {
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
}

.Button {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-padding: 10;
    -fx-pref-width: 250;
}

.Input {
    -fx-pref-width: 300;
    -fx-padding: 10;
}

.combo-box > .list-cell {
    -fx-text-fill: white; /* Replace with your preferred color */
}